.button {
  height: 3.6rem;
  border: 1px solid black;

  &--primary {
    background: blue;
  }

  &--subtle {
    background-color: none;
  }

  &--danger {
    background-color: none;
  }

  &--warning {
    background-color: none;
  }
}
