@import "../../styles/color.scss";
@import "../../styles/variables.scss";

.button {
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  outline: none;
  padding: 1.6rem;
  transition: background-color $transition-hover ease-in-out;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    transition: none;
  }

  &--primary {
    background-color: $color-p;
    color: $color-p-on;

    &:hover {
      background: $color-p-light;
    }

    &:active {
      background: $color-p-dark;
    }

    &:disabled {
      background-color: $color-p;
    }
  }

  &--subtle {
    border: 0.1rem $color-p solid;
    background-color: $color-white;
    color: $color-black;

    &:hover {
      border: 0.1rem $color-p-light solid;
      background: $color-p-light;
      color: $color-p-on;
    }

    &:active {
      border: 0.1rem $color-p-dark solid;
      background: $color-p-dark;
      color: $color-p-on;
    }

    &:disabled {
      background-color: $color-white;
    }
  }

  &--info {
    background-color: $color-info;
    color: $color-white;

    &:hover {
      background: $color-info-light;
    }

    &:active {
      background: $color-info-dark;
    }

    &:disabled {
      background-color: $color-info;
    }
  }

  &--success {
    background-color: $color-success;
    color: $color-white;

    &:hover {
      background: $color-success-light;
    }

    &:active {
      background: $color-success-dark;
    }

    &:disabled {
      background-color: $color-success;
    }
  }

  &--warning {
    background-color: $color-warning;
    color: $color-white;

    &:hover {
      background: $color-warning-light;
    }

    &:active {
      background: $color-warning-dark;
    }

    &:disabled {
      background-color: $color-warning;
    }
  }

  &--error {
    background-color: $color-error;
    color: $color-white;

    &:hover {
      background: $color-error-light;
    }

    &:active {
      background: $color-error-dark;
    }

    &:disabled {
      background-color: $color-error;
    }
  }
}
