$color-p: #00838f;
$color-p-light: #4fb3bf;
$color-p-dark: #005662;
$color-p-on: #ffffff;

$color-s: #ffc107;
$color-s-light: #fff350;
$color-s-dark: #c79100;
$color-s-on: #000000;

$color-info: #0074bd;
$color-info-light: #58a2ef;
$color-info-dark: #00498b;

$color-success: #28a745;
$color-success-light: #64da73;
$color-success-dark: #007717;

$color-warning: #fb8c00;
$color-warning-light: #ffbd45;
$color-warning-dark: #c25e00;

$color-error: #b00020;
$color-error-light: #e94948;
$color-error-dark: #790000;

$color-black: #000000;
$color-white: #ffffff;
