$color-p: #00838f;
$color-p-light: #4fb3bf;
$color-p-dark: #005662;
$color-p-on: #ffffff;

$color-s: #ffc107;
$color-s-light: #fff350;
$color-s-dark: #c79100;
$color-s-on: #000000;

$color-info: #0052cc;
$color-info-light: #5d7eff;
$color-info-dark: #002b9a;
$color-success: #28a745;
$color-warning: #fb8c00;
$color-error: #b00020;

$color-black: #000000;
$color-white: #ffffff;
