$fontFamily-p: Roboto, sans-serif;
$fontFamily-s: Segoe UI, sans-serif;

html {
  font-size: 62.5%;
}

body {
  font-family: $fontFamily-s;
  font-size: 1.6rem;
  font-weight: normal;
  letter-spacing: 0.05rem;
}

h1 {
  font-family: $fontFamily-p;
  font-size: 9.6rem;
  font-weight: lighter;
  letter-spacing: -0.15rem;
}

h2 {
  font-family: $fontFamily-p;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: -0.05rem;
}

h3 {
  font-family: $fontFamily-p;
  font-size: 4.8rem;
  font-weight: normal;
  letter-spacing: 0rem;
}

h4 {
  font-family: $fontFamily-p;
  font-size: 3.6rem;
  font-weight: normal;
  letter-spacing: 0.025rem;
}

h5 {
  font-family: $fontFamily-p;
  font-size: 2.4rem;
  font-weight: normal;
  letter-spacing: 0rem;
}

h6 {
  font-family: $fontFamily-p;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.015rem;
}

.subtitle1 {
  font-family: $fontFamily-p;
  font-weight: normal;
  letter-spacing: 0.015rem;
}

.subtitle2 {
  font-family: $fontFamily-p;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01rem;
}

p {
  font-family: $fontFamily-s;
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 2rem;
}

caption {
  font-family: $fontFamily-s;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0.04rem;
}

button {
  font-family: $fontFamily-s;
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}
