@import "../../styles/color.scss";

@keyframes circular-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}

.circularProgress {
  display: inline-block;
  height: 4.8rem;
  width: 4.8rem;

  &--indeterminate {
    animation: circular-rotate 1.4s ease-in-out infinite;
  }

  &__svg {
    height: 4.8rem;
    width: 4.8rem;

    &--primary {
      stroke: $color-p;
    }

    &--secondary {
      stroke: $color-s;
    }

    &--determinate {
      transition: stroke-dashoffset 300ms;
    }

    &--indeterminate {
      animation: circular-dash 1.4s ease-in-out infinite;
      stroke-dasharray: 80px, 200px;
      stroke-dashoffset: 0px;
    }
  }
}
